@model OrderingFood.Web.Models.AllOrdersForMeals

@{
    ViewBag.Title = "UserMealsAndOrders";
}


@Html.Partial("UserMealsAlone", Model.MealDetail)






@Html.Partial("UserOrdersAlone",Model.OrderDetail)



<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Back to Restaurants", "UserRestaurants", routeValues: new { Id = Model.MealDetail.restoran.ID })</li>
</ul>

  
